@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary-color: #ffffff;
  --second-color: #c0c0c0;
  --button-color: #167bf7;
  --background-color: #00030c;
  --content-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);

  font-family: 'Inter', sans-serif;
}
